<link href="@{'public/stylesheets/styles.css'}" rel="stylesheet" />

<h1>Listagem de Encomendas</h1>

#{list items:encomendas, as:'encomenda'}

	<li>${encomenda.produtos.nome} | ${encomenda.endereco} | ${encomenda.cep} | <a href="@{Encomendas.remover(encomenda.id)}">Remover</a> | <a href="@{Encomendas.editar(encomenda.id)}">Editar</a> </li>

#{/list}
<br>

<div class="col-lg-10">
					<a class="btn btn-primary" href="@{Encomendas.form()}">Cadastrar Encomendas</a><br><br> <a
						href="@{Produtos.form()}" class="btn btn-primary">Cadastrar Produtos</a><br><br> <a
						href="@{Usuarios.form()}" class="btn btn-primary">Cadastrar Clientes</a><br><br> <a
						href="@{Encomendas.listar()}" class="btn btn-primary">Listar Encomendas</a><br><br><a
						href="@{Produtos.listar()}" class="btn btn-primary">Listar Produtos</a><br><br> <a
						href="@{Usuarios.listar()}" class="btn btn-primary">Listar Clientes</a><br><br>
					<a class="btn btn-primary" href="@{Application.index()}">Home</a>
				</div>